<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <!--
    <target xsi:type="File" name="file" fileName="${basedir}/App_Data/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    <target name="file" xsi:type="File"
    fileName="${basedir}/App_Data/Logs/${shortdate}/${logger}.log"
    layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}" />
    <target name="FatalFile" xsi:type="File"
      fileName="${basedir}/App_Data/Logs/${shortdate}/FatalFile.log"
      layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}" />
            -->
    <target name="File" xsi:type="File"
            fileName="${basedir}/App_Data/Logs/${shortdate}/File.log"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}"
            encoding="utf-8"/>
    <target name="FatalFile" xsi:type="File"
      fileName="${basedir}/App_Data/Logs/${shortdate}/FatalFile.log"
      layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}"
      encoding="utf-8"/>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    <logger name="*" levels="Trace, Debug, Info, Warn" writeTo="file" />
    -->
    <logger name="*" levels="Info, Warn" writeTo="File" />

    <logger name="*" levels="Error, Fatal" writeTo="FatalFile" />
  </rules>
</nlog>