<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
  </configSections>
  <extnet theme="Triton" licenseKey="ODE4NjQ3MjYsNCw5OTk5LTEyLTMx" initScriptMode="Linked" locale="zh-CN" />
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    
    <add key="pat_images" value="../" />
    <add key="hose" value="/myhaisv4/myhaisv4.html" />
    <add key="iPAD" value="ipad_Default.aspx" />
    <add key="1PageCount" value="c2ovOW94YUxrY2RXeHpzdVcva0crZz09" />
    
    <add key="ShowFHIR" value="true" />
    <add key="FHIR_SERVER" value="http://192.168.1.200:8000/fhir-jpaserver_v13/baseDstu2" />
    <add key="Dialysis_url" value="http://192.168.1.249/Dialysis_Chart_Show4/Restful/RestServiceImpl.svc/" />
    <add key="Dialysis_Organization" value="ReadFhirOrganization" />
    <add key="Dialysis_PD" value="ReadFhirPopulationDistribution" />
    <add key="Dialysis_DD" value="ReadFhirDurationDistribution" />
    <add key="Dialysis_MR" value="ReadFhirMRDistribution" />
    <add key="Dialysis_DQ" value="ReadFhirDQDistribution" />

    <!--<add key="ProcessOfPurifyingTheBlood" value="Standard" />-->
    <!--<add key="ProcessOfPurifyingTheBlood" value="Hospital_Suzhou" />-->
    <!--<add key="ProcessOfPurifyingTheBlood" value="Hospital_117" />-->
    <!--<add key="ProcessOfPurifyingTheBlood" value="Hospital_Xian" />-->
    <!--<add key="ProcessOfPurifyingTheBlood" value="Hospital_Luyi" />-->
    <!--<add key="ProcessOfPurifyingTheBlood" value="Hospital_Hebei" />-->
    <!--<add key="ProcessOfPurifyingTheBlood" value="Hospital_Henan" />-->
    <!--<add key="ProcessOfPurifyingTheBlood" value="Hospital_Alasamo" />-->
    <add key="ProcessOfPurifyingTheBlood" value="Hospital_Henan" />
    <add key="helpwiz" value="true" />
    <add key="autointo" value="true" />  
    <!--iPad開機後,自動轉到血液淨化頁面 -->
    <add key="CheckinEmpty" value="false" />
    <add key="FolderPath" value="uploads" />
    <add key="UploadFilePath" value="~/upload/" />
    <add key="UploadFileUrl" value="/upload/" />
    <add key="changeColor" value="#F7F7F6" />
    <add key="backgroundColor" value="#FBFBFB" />
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="server=localhost;database=myhaisv4;uid=root;pwd=root;port=3307;pooling=true;Max Pool Size=500;Connection Lifetime=0" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  
  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime executionTimeout="600" maxRequestLength="8192" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    <sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" cookieless="false" timeout="240"/>
    <!-- This httpHandlers config only required if using IIS6 (or lower) -->
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add verb="GET" path="Reports/CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
    </httpHandlers>
    
    <!-- This httpModules config only required if using IIS6 (or lower) -->
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </httpModules>
    
    <pages>
      <controls>
        <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext" />
      </controls>
      <namespaces>
        <add namespace="Ext.Net" />
        <!--<add namespace="Ext.Net.MVC"/>-->
      </namespaces>
    </pages>
    <compilation debug="true" />
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </modules>
    <handlers>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="CrystalImageHandler.aspx_GETR" verb="GET" path="Reports/CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ext.Net.Utilities" publicKeyToken="2c34ac34702a3c23" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0" newVersion="2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Transformer.NET" publicKeyToken="e274d618e7c603a7" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1" newVersion="2.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.serviceModel>
    <services>
      <service name="RestService.RestServiceImpl" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="RestService.IRestServiceImpl" behaviorConfiguration="web" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- 為避免中繼資料資訊洩漏，部署之前請將下面的值設定為 false，並移除上面的中繼資料端點-->
          <serviceMetadata httpGetEnabled="true" />
          <!-- 為接收錯誤中的例外狀況詳細資料以用於偵錯用途，請將下面的值設定為 true。請在部署之前將該值設定為 false，以避免例外狀況資訊洩漏-->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="false" />
  </system.serviceModel>
</configuration>